[package]
name = "vectrs"
version = "0.0.1"
authors = ["Ross MacArthur <ross@macarthur.io>"]
edition = "2018"
description = "A constant-size, n-dimensional vector type implemented with const generics"
documentation = "https://docs.rs/vectrs"
readme = "README.md"
homepage = "https://github.com/rossmacarthur/vectrs"
repository = "https://github.com/rossmacarthur/vectrs"
license = "MIT OR Apache-2.0"
keywords = ["math", "vector", "2d", "3d"]
categories = ["mathematics", "science"]
include = ["src/**/*", "LICENSE-*", "README.md"]

[dev-dependencies]
criterion = "0.3.3"

[[bench]]
name = "main"
harness = false
